@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
p {
  font-family: "Satisfy", cursive;
  font-size: 25px;
}

body {
  background-image: url("../resource/back.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.newsletter-bg {
  background-image: url("../resource/back.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 500vh;
}

.wrap {
  position: relative;
}

.newsletter-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  margin: 0 auto;
  background-position: center -100px;
  -webkit-filter: blur(7px);
}

.newsletter-text {
  border: 4px solid #4e4b4b;
  padding: 30px;
  padding-bottom: 5px;
  margin: 0 auto;
  position: relative;
  max-width: 500vh;
}
.newsletter-text h2 {
  color: black;
  margin-top: 0;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
